<h1><%= link_to @season.year + ' Players', season_players_path %></h1>

<%= form_tag season_players_path(params), method: :get,
             data: {pjax_container: '#player_list'},
             class: 'pjax form-search' do %>
    <%= text_field_tag(:search, @search,
                       placeholder: 'Search Last Name',
                       class: 'input-medium search-query') %>
    <%= button_tag(type: 'submit', class: 'btn') do %>
        <i class="icon-search"></i>
    <% end %>
<% end %>

<div class="row">
  <div id="player_list" class="pjax-container span6">
    <table class="players table table-striped table-bordered table-hover">
      <tr>
        <th>Team</th>
        <th>Name</th>
      </tr>
      <%= render @players %>
    </table>

    <%= paginate @players %>

    Rendered at <%= Time.now.to_s %>

  </div>

  <div id="player_stats" class="pjax-container span6">
    <%= render 'stats' if @player %>

    Rendered at <%= Time.now.to_s %>

  </div>

</div>

Page loaded at <%= Time.now.to_s %>
