<h1><%= link_to @season.year + ' Players', season_players_path %></h1>

<div class="row">
  <div id="player_list" class="pjax-container span6">
    <table class="players table table-striped table-bordered table-hover">
      <tr>
        <th>Team</th>
        <th>Name</th>
      </tr>
      <%= render @players %>
    </table>

    <%= paginate @players %>

  </div>

  <div id="player_stats" class="pjax-container span6">
    <%= render 'stats' if @player %>
  </div>

</div>

Page loaded at <%= Time.now.to_s %>
